<div class="p-8 bg-white shadow-md rounded-lg">
  <h2 class="text-xl font-semibold mb-4">Inicia sesión!</h2>
  <form [formGroup]="formSign" class="max-w-lg mx-auto mt-4">
    <div class="mb-2">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Ingresa tu correo</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
      </mat-form-field>
    </div>
    <div class="mb-2">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Ingresa tu contraseña</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="mb-4">
        <button mat-button color="primary">Limpiar
        </button>
      </div>
      <div class="mb-4">
        <button mat-raised-button color="primary"
                [disabled]="!formSign.valid"
                (click)="onSubmit()">Iniciar
        </button>
      </div>
    </div>

  </form>
</div>
